name: Update to latest Appointments in General Practice data

on:
  schedule:
    - cron:  '0 3 * * 0'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Check out this repo
        uses: actions/checkout@v3

      - name: Install Mise
        uses: jdx/mise-action@v3
        with:
          cache: true

      - name: Install dependencies
        run: mise install

      - name: Download Appointments in General Practice data
        run: uv run bin/download_gpad.py

      - name: Commit and push if it changed
        run: |-
          git config user.name "Automated update"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          if git diff --cached --quiet; then
            echo "No changes to commit"
            exit 0
          fi
          timestamp=$(date -u)
          git commit -m "Appointments in General Practice update: ${timestamp}" || exit 0
          git push
